*{
  box-sizing: border-box;
}
body{
  background-color: rgb(244, 255, 246);
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

#counter{
  padding: 20px;
}


.buttonsContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;

}
.buttons{
  width: 25vw;
  height: auto;
  border-radius: 2vh;
  border: 1px black solid;
  background-color: rgb(210, 252, 217);
  margin: 2vw;
  padding: 1.5vw;
  font-size: 2.3vw;

  transition-duration: 400ms; 

}
/* .buttons{
  width: 50vb;
  border-radius: 2vh;
  border: 1px black solid;
  background-color: rgb(210, 252, 217);
  margin: 2vb;
  padding: 1.5vb;
  font-size: 3vb;
  transition-duration: 400ms; 
} */

.buttons:hover{
  background-color: rgb(215, 250, 221);
  cursor: pointer;
  scale: 1.2;
}

#counter{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  margin: 10px;
}
@media screen and (max-width:810px){
  .buttonsContainer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .buttons{
    width: 55vw;
    height: auto;
    border-radius: 2vh;
    border: 1px black solid;
    background-color: rgb(210, 252, 217);
    margin: 2vw;
    padding: 2vw;
    font-size: 4vw;
  
    transition-duration: 400ms; 
  }

}

@media screen and (max-width:400px) {

  .buttons{
    width: 75vw;
    height: auto;
    border-radius: 2vh;
    border: 1px black solid;
    background-color: rgb(210, 252, 217);
    margin: 3vw;
    padding: 1.5vw;
    font-size: 6vw;
  
    transition-duration: 400ms; 
  }
  
}